.move-table {
    vertical-align: middle;
    border-collapse: collapse;
}

.move-table td {
    margin: 1em;
    padding: 1em;
    background-color: khaki;
    border: white 1px solid;
}
/* td.type-Normal::before {
    content: "";
    background-image: url("images/Normal_icon_SwSh.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1.5em 1.5em;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
} */

/* 
td.type-Normal {
    vertical-align: middle;
} */

.type-icon-move {
    display: table-cell;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.type-pkm {
    max-width: 100px;    
    max-height: 22px;
}

.status-bar {
    background-color: #4b5a6b;
    /* position: absolute; */
    bottom: 0;
    /* width: 0; */
    left: 0;
    /* height: 5px; */
    animation: linearwipe .4s steps(100, end); 
    width: 0%;
    /* transition: all .2s ease-in-out; */
  }
  
@keyframes linearwipe{ 
from { width: 0; } 
}

.row-hidden {
    display: none;
}

.next-hidden:hover + .row-hidden {
    display: table-row;
    /* float: left; */
}