div.wrap-table {
    padding-left: 15%;
    padding-right: 15%;
}

table.move-table {
    border-collapse: collapse;
    border-color: grey;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: left;
}



thead {
    color: white;
    font-size: 1.5em;
    line-height: 3em;
}

.move-table tr{
    vertical-align: middle;
    border: white 1px solid;
    border-collapse: collapse;
}

.move-table tbody{
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td.type-icon-move{
    width: 40px;
    height: 40px;
}

.type-icon-move img {
    display: table-cell;
    /* size: 40px 40px; */
    width: inherit;
    height: inherit;
    margin: 2px;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20);
}


div.row-hidden {
    overflow: hidden;
    max-height: 0px;
    max-width: inherit;
    line-height: 0px;
    transition: .4s ease-out max-height;
    transition: .4s ease-out line-height;
}

.next-hidden:hover + tr div{
    /* transition: .6s ease-in max-height; */
    transition: .6s ease-in line-height;
    transition-delay: 1.5s;
    max-height: 400px;
    line-height: 2em;
    /* margin-top: .5em;
    margin-bottom: .5em; */
}
