@font-face {
    font-family: "icons";
    src: url("fonts/icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.type-icon {
    max-width: 100px;    
    max-height: 22px;
}

.status-bar {
    background-color: #4b5a6b;
    animation: linearwipe .4s steps(100, end); 
    width: 0%;
}
  
@keyframes linearwipe{ 
    from { width: 0; } 
}

.container {
    width: fit-content;
    position: relative;
}

div.center {
    margin: 0 auto;
}

#pkm-image {
    max-width: 300px;
}


.button {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20);
    /* cursor: pointer; */
    opacity: .6;
    width: 50px;
    height: 50px;
    top: 40%;
}


.button:hover{
    opacity: 1;
    transition: .4s ease-in-out;
}

.icon-pokeball {
    font-size: 300px;
    font-family: "icons";
    font-style: normal;
}

.icon-pokeball::before {
    content: "\f12a";
}

.left {
    position: absolute;
    left: -10%;
    /* float: left; */
}

.right {
    position: absolute;
    right: -10%;

    /* float: right; */
}

.back {
    position: absolute;
    top: -15px;
    left: 0;
    z-index: -1;
    margin: 0 auto;
}

path.arrow {
    fill: rgb(33, 212, 142);
    /* background-color: lightblue; */
}