@font-face {
    font-family: "icons";
    src: url("fonts/icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.icon-pokeball::before {
    content: "\f12a";
}

.icon-pokeball {
    color: green;
    font-size: 2em;
    font-family: "icons";
}

.type-icon {
    max-width: 70px;    
    max-height: 16px;
}
